@charset "utf-8";
* {
	font-family: "microsoft yahei";
}
body {
	background-color: #F2F2F2;
}

.bidprice>span.left {
	background-image: url(../../img/back.png);
	background-position: center;
	background-size: 50%;
	background-repeat: no-repeat;
	width: 45px;
}
.bidprice>span.center{
	font-size: 1.5em;
}
.bid-box{
	width:100%;
	height:40px;
	line-height: 40px;
	padding-top:15px;
	
}
.bid-box>span{
	float:left;
	height:100%;
	font-size: 1.2em;
	margin-left: 10px;
}
.bid-box>input{
	float:left;
	font-size: 1.2em;
	margin-left: 10px;
	width:40%;
	height:90%;
	border:1px solid #aaaaaa;
	border-radius:5px;
	padding-left: 3px;
}
.bid-btn{
	width:50%;
	margin: 100px auto 0;
	height:50px;
	line-height: 50px;
	text-align: center;
	font-size: 1.5em;
	background-color: #c91523;
	color:#fff;
	border-radius:5px;
}
