@charset "utf-8";
body {
	background-color: #F4F6F8;
}
section {
	background-color: #F4F6F8;
}
.ulhide {
	display: none;
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
}
.ulhide>li:nth-of-type(1) {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	position: absolute;
	z-index: 2;
	text-align: center;
	bottom: 50px;
	left: 0;
	right: 0;
	background: #fff;
	height: 212px;
}
.ulhide>li:nth-of-type(2) {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	opacity: 0.2;
	background-color: #000;
}
.ulhide span {
	margin-top: 20px;
	font-size: 1.2em;
	display: inline-block;
	border: 1px solid #999;
	border-radius: 5px;
	width: 75%;
	height: 50px;
	margin-bottom: 10px;
	line-height: 50px;
}
.pthis {
	color: #FFFFFF;
	background: green;
}
.myaccount>span.center {
	font-size: 1.4em;
}
.myaccount>span.left {
	background-image: url(../../img/userlft.png);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}
.ovauto {
	overflow-y: auto;
}
.user-login {
	width: 100%;
	height: 130px;
	background-image: url(../../img/userbg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.user-logins {
	width: 100%;
	height: 150px;
	background-image: url(../../img/userbg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.user-logins>.login-desc {
	float: left;
	width: 70px;
	height: 70px;
	background-image: url(../../img/users.png);
	margin-top: 35px;
	margin-left: 20px;
	border-radius: 50%;
}
.user-logins>.login-btn {
	float: left;
	width: 66%;
	height: 30px;
	margin-top: 40px;
	margin-left: 10px;
	font-size: 1.5em;
	background-image: none;
}
.user-logins>.login-ad {
	float: right;
	width: auto;
	height: 30px;
	margin-top: 40px;
	margin-right: 5px;
	text-align: center;
	line-height: 30px;
	font-size: 1.2em;
}
.login-desc {
	float: left;
	width: 100%;
	height: 25px;
	margin-top: 5%;
	text-align: center;
	line-height: 25px;
	color: #076C50;
	font-size: 1.8em;
	font-weight: bold;
}
.login-btn {
	float: left;
	width: 50%;
	margin-left: 25%;
	height: 40px;
	background-image: url(../../img/ulg.png);
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 20px;
}
.login-img {
	border-radius: 50%;
	*/ height: 85px;
	/* border: 1px solid #ccc; */
	
	float: left;
	margin-right: 2px;
	margin-left: 15%;
	margin-top: 8px;
	display: none;
	width: 85px;
	text-align: center;
	height: 85px;
}
.login-img>img {
	width: 80%;
	height: 80%;
	border-radius: 50%;
}
.u-twos {
	border-bottom: 1px solid #E8E9EA;
	width: 100%;
	height: 53px;
	background-color: white;
}
.u-twos>li {
	width: 48%;
	float: left;
	height: 53px;
}
.u-twos>li:nth-child(1) {
	border-right: 1px solid #CCCCCC;
}
.u-twos>li>span {
	float: left;
	width: 100%;
	text-align: center;
	font-size: 1.3em;
	margin-top: 3px;
	color: #666666;
	font-family: "微软雅黑";
}
.user-type {
	width: 100%;
	margin-top: 10px;
	background-color: white;
}
.height100 {
	height: 110px;
}
.user-type>ul {
	width: 100%;
	height: 100%;
}
.user-type>ul>li {
	float: left;
	height: 100%;
}
.user-type>ul>li:nth-child(1) {
	width: 20%;
	background-image: url(../../img/user1.png);
	background-size: 48%;
	background-repeat: no-repeat;
	background-position: top;
	background-position-y: 5px;
}
.user-type>ul>li:nth-child(2) {
	width: 77%;
}
.user-r-t1.arrow {
	background-image: url(../../img/set-right.png);
	background-size: 4%;
	background-repeat: no-repeat;
	background-position: right;
}
.user-r-t1 {
	border-bottom: 1px solid #EDEDED;
	width: 100%;
	text-align: left;
	height: 44px;
	line-height: 44px;
	font-size: 1.3em;
	font-family: "微软雅黑";
}
.user-r-lst {
	width: 100%;
	height: 70px;
}
.user-r-lst>ul {
	width: 100%;
	height: 100%;
}
.user-r-lst>ul>li {
	float: left;
	width: 25%;
	height: 100%;
	background-size: 35%;
	background-repeat: no-repeat;
	background-position: top center;
	background-position-y: 7px;
	text-align: center;
	/*background-position-x: 8px;*/
	
	line-height: 90px;
	margin-top: 5px;
	font-family: "微软雅黑";
	color: #999999;
	position: relative;
}
.user-r-lst>ul>li >i {
	position: absolute;
	z-index: 2;
	width: 20px;
	height: 20px;
	background: rgb(236, 25, 44);
	border-radius: 50%;
	overflow: visible;
	right: 11px;
	color: #fff;
	text-align: center;
	line-height: 20px;
	font-style: normal;
	font-size: 0.8em;
	display: none;
}
.user-r-lst>ul>li:nth-child(1) {
	background-image: url(../../img/dzf.png);
}
.user-r-lst>ul>li:nth-child(2) {
	background-image: url(../../img/topad.png);
	background-size: 47%;
	background-position-y: 3px;
}
.user-r-lst>ul>li:nth-child(3) {
	background-image: url(../../img/dsh.png);
	background-position-y: 9px;
	background-size: 50%;
}
.user-r-lst>ul>li:nth-child(4) {
	background-image: url(../../img/thh.png);
	background-position-y: 8px;
}
.user-rt-lst {
	width: 100%;
	height: 100%;
}
.user-rt-lst>ul {
	width: 100%;
	width: 100%;
}
.user-rt-lst>ul>li {
	width: 32%;
	float: left;
	text-align: center;
	color: #999999;
	margin-top: 3px;
	font-family: "微软雅黑";
}
.user-rt-lst>ul>li>a {
	width: 100%;
	height: 35px;
	float: left;
	text-align: center;
	line-height: 35px;
	color: #FF4400;
	font-size: 1.5em;
}
.user-lst {
	width: 100%;
	height: auto;
	margin-top: 10px;
	background-color: white;
}
.user-lst>li {
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #F0F0F0;
}
.user-lst>li>span {
	font-size: 1.3em;
	font-family: "微软雅黑";
}
.user-lst>li>span {
	float: left;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 48%;
}
.user-lst>li>span:nth-child(1) {
	width: 20%;
	float: left;
	height: 100%;
	position: relative;
}
.user-lst>li>span:nth-child(1)>i {
	position: absolute;
	width: 20px;
	height: 20px;
	background: rgb(236, 25, 44);
	right: 10px;
	top: 5px;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	line-height: 20px;
	font-style: normal;
	font-size: 0.8em;
	display: none;
}
.user-lst>li>span:nth-child(2) {
	width: 77%;
	float: left;
	height: 100%;
	background-image: url(../../img/nexttwo.png);
	background-size: 4%;
	background-position: right;
	background-repeat: no-repeat;
}
#refundRecord {
	display: none;
}